:root {
  /* colors */
  --color-onbackground: #1c1c1c;
  --color-primary: #f8d26d;
  --color-secondary: #dfa46d;
  --color-secondary-dark: #724d50;

  --color-display: #cdedfc;
  --color-display-light: #e7f6fd;
  --color-display-dark: #9fdcf9;

  /* fonts */
  --font-family-base: 'VT323', monospace;
  --font-size-l: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-onbackground);
  font-family: var(--font-family-base);
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* console frame */

.console-frame {
  background: var(--color-primary);
  height: 657px;
  width: 375px;
}

.console-frame__content {
  margin: 40px 6.5px;
}

/* display frame */

.display-frame {
  width: 100%;
  height: 477px;
  border: 10px var(--color-secondary) solid;
}

.display {
  height: 100%;
  background-color: var(--color-display);
  box-shadow: inset 0 0 0 10px var(--color-display-light);

  padding: 23px 25px;
}

.display__bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display__tamagotchi-container {
  border: 7px var(--color-display-dark) solid;
  height: 280px;
  width: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.display__baseline {
  width: 162px;
  height: 8px;
  background-color: white;
  margin-bottom: 60px;
}

.display__tamagochi-status {
  font-size: 56px;
  line-height: 56px;
  text-align: center;

  display: block;
  width: 100%;
  margin-top: 15px;
  color: var(--color-secondary-dark);
  background-color: var(--color-display-light);
}

.bar-item {
  width: 65px;
  height: 60px;
  font-size: 60px;
  display: flex;
  align-items: center;
}

/* action buttons */

.action-buttons__gameon,
.action-buttons__gameover {
  align-items: center;
  justify-content: space-between;

  margin: 25px 35px;
  display: none;
}

.active {
  display: flex;
}

.action-button {
  font-family: var(--font-family-base);
  font-size: var(--font-size-l);
  line-height: var(--font-size-l);
  letter-spacing: -0.02em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 5px var(--color-secondary) solid;
  padding: 9px;
  box-shadow: 0px 7px var(--color-secondary-dark);
  transition: box-shadow 0.2s, transform 0.2s;
}

.action-button--rounded {
  border-radius: 50%;
}

.action-button--restart {
  width: 100%;
  padding: 2px;
  border: 6px var(--color-secondary) solid;
}

.action-button:hover {
  box-shadow: none;
  transform: translateY(7px);
}

/* media */

@media (max-width: 320px) {
  .action-buttons__gameon,
  .action-buttons__gameover {
    margin-inline: 25px;
  }
}
